@model IEnumerable<Work>

@{
    Work workTitle = new Work();
    string userName = ViewBag.UserName;
}
<p>Welcom @userName</p>
<form asp-action="Index">

</form>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(m => workTitle.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.Project)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(m=>workTitle.CreateByID)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.Provider)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.Status)
        </th>
        <th>
            @Html.DisplayNameFor(m => workTitle.Remark)
        </th>
        <th>
            Manage
        </th>
    </tr>
    <tbody>
        @Html.DisplayFor(m => m)
        <tr>
            <td>
                @Html.ActionLink("Create task", "Create", "Work")
            </td>
        </tr>
    </tbody>
</table>
